<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="module-title font-alt"><%= @student.name %></h2>
    <div class="module-subtitle font-serif">
      <%= @student.tagline %>
    </div>
    <center>
      <%= image_tag(@student.image_url, width: "100%") %>
    </center>
  </div>
</div>